body {
  margin-top: 50px;
}

#parent {
  width: 500px;
  height: 300px;
  background-image: url('https://ntvb.tmsimg.com/assets/p183931_b_h10_af.jpg?w=1280&h=720');
  background-size: cover;
  background-position: center;
  position: relative;
  margin: auto;
}

.child {
	font-size: x-large;
  color: aliceblue;
  font-family: 'Times New Roman', Times, serif;
  position: absolute;
  padding: 10px;
}

.right {
  right: 0;
}

.bottom {
  bottom: 0;
}